header{
	width: 100%;
}

.header {
	font-size: 50px;
	font-family: arial;
	border: double black 8px;
	padding: 20px;
	width: 25%;
	height: 150px;
	margin: 20px;
	float: top-left;
}

#text{
	text-align: center;
}

aside{
width: 20%;
float: left;
border: solid black 5px;
display: inline;
margin: 10% 5% 0px 0px;
}

#navbar {
	text-decoration: none;
}

section{
	width: 50%;
	float: right;
	margin: 5% 10% 0px 0px;
}

#main{
	
}

section{
	height: 100%;
}

#1{
	float: right;
	width: 33%;
}

#2{
	float: middle;
	width: 33%;
}

#3{
	float: left;
	width: 33%;
}

#4{
	float: bottom;
	width: 100%;
}
img{
	size: 25px;
}